---
import Getstartedstep from "../../reusable/getstartedstep.astro";
import Button from "../../reusable/button.astro";
import ButtonNoMargin from "../../reusable/buttonNoMargin.astro";
---

<div class="flex relative flex-col items-center justify-center h-fit">
  <div
    class="flex-col relative items-center lg:items-start justify-center flex"
  >
    <div class="flex flex-col h-fit w-fit lg:m-[4rem] m-[2rem]">
      <h1 class="font-phantom_sans font-bold text-4xl text-cadillac-50">
        Ready to get started?
      </h1>
      <h1 class="font-phantom_sans text-3xl text-cadillac-50 mt-[2rem]">
        We're excited to see what you make! But first, here are the rules:
      </h1>
      <div class="flex lg:flex-row flex-col lg:h-fit h-[30vh]">
        <ButtonNoMargin
          link="https://forms.hackclub.com/fusering"
          text="Read the guide!"
        />
        <ButtonNoMargin
          link="https://forms.hackclub.com/fusering"
          text="Submit your project!"
        />
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 h-fit w-[80vw] gap-[1rem]">
      <Getstartedstep
        step="step1"
        text="Your finished keyring must be no larger than 80mm x 80mm x 6mm so we can send it in the post!"
      />
      <Getstartedstep
        step="step2"
        text="You must not use AI or any graphics that you didn't create yourself."
      />
      <Getstartedstep
        step="step3"
        text="The keyring must be flat on one side so it can easily be 3D printed!"
      />
      <Getstartedstep
        step="step4"
        text="The keyring needs to have a 5mm diameter hole for a carabiner."
      />
      <Getstartedstep
        step="step5"
        text="You need to either use Fusion or Onshape (the tutorial is designed for Fusion, but we like both programs!)."
      />
      <Getstartedstep
        step="step6"
        text="You are in middle school or high school ( in other words, aged under 18)."
      />
    </div>
  </div>
</div>
