---
const halloweenPromo = "/images/HalloweenPromo.webp";
---

<div
  class="flex items-center justify-center w-[100vw] lg:h-[80vh] pl-[2rem] pr-[2rem] lg:p-[0rem]"
>
  <img
    src={halloweenPromo}
    class="flex w-4xl lg:m-[4rem] shadow-2xl rounded-4xl"
  />
</div>
