---
import Button from "../../reusable/button.astro";
---

<div
  class="h-fit md:h-[45vh] flex flex-col items-center justify-center ml-[2rem] mr-[2rem]"
>
  <h1 class="font-phantom_sans font-bold text-3xl text-cadillac-50 mb-[2rem]">
    Design a keyring in CAD, we'll ship it to you + stickers!
  </h1>
  <div class="flex flex-col lg:flex-row">
    <Button text="Home" link="/" />
    <Button
      text="Read the guide"
      link="https://www.figma.com/deck/YKlZnPUlueoqIcxXVRMAAx/Fusering-Guide?node-id=1-42&t=wM0EW9K0Sto00QEE-1"
    />
    <Button
      text="Run a workshop"
      link="https://forms.hackclub.com/fusering-workshop"
    />
  </div>
  <h1 class="font-phantom_sans text-2xl text-cadillac-100 mb-[2rem]">
    Scroll down for how to submit!
  </h1>
</div>
