---
import Stepcard from "../../reusable/stepcard.astro";
---

<div
  class="flex items-center justify-center h-fit lg:p-[8rem] p-[2rem] lg:pt-[2rem] lg:pb-[2rem]"
>
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-[2rem]">
    <Stepcard step="step1" text="Prep your graphics!" />
    <Stepcard step="step2" text="Design your keyring using CAD" />
    <Stepcard
      step="step3"
      text="Share your design, and we'll print it off for you"
    />
    <Stepcard step="step4" text="Enjoy your keyring!" />
  </div>
</div>
