---
const footer_logo = "/logos/FooterLogo.svg";
---

<div
  class="flex relative items-center justify-center w-full bg-[url(/ui/FooterBackground.png)] bg-top bg-cover h-[80vh] md:h-[45vh] md:bg-cover md:mt-[8rem]"
>
  <div
    class="flex lg:flex-row flex-col absolute md:top-[19vh] top-[30vh] items-center justify-center"
  >
    <img src={footer_logo} class="w-2xs p-[2rem]" />
    <h1 class="font-phantom_sans text-2xl text-cadillac-50">
      Program by <a href="https://github.com/ScapularSteam">David</a> and <a
        href="">Jared</a
      >, Artwork by <a href="https://www.instagram.com/futureheartzs">Ren</a>
    </h1>
  </div>
</div>
