---

---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<title>Fusering</title>

<meta name="title" content="Fusering" />
<meta
  name="description"
  content="Design a keyring in CAD, we'll ship it to you + stickers!"
/>
<meta property="og:type" content="website" />
<meta property="og:url" content="https://fusering.hackclub.com" />
<meta property="og:title" content="Fusering" />
<meta
  property="og:description"
  content="Design a keyring in CAD, we'll ship it to you + stickers!"
/>
<meta
  property="og:image"
  content="https://hc-cdn.hel1.your-objectstorage.com/s/v3/3c378541b19174eb1767b7292d519f40173f62c0_fusering_promo.png"
/>
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://fusering.hackclub.com" />
<meta property="twitter:title" content="Fusering" />
<meta
  property="twitter:description"
  content="Design a keyring in CAD, we'll ship it to you + stickers!"
/>
<meta
  property="twitter:image"
  content="https://hc-cdn.hel1.your-objectstorage.com/s/v3/3c378541b19174eb1767b7292d519f40173f62c0_fusering_promo.png"
/>
