---
const fusering_logo = "/logos/FuseringLogo.svg";
const hackclub_logo = "/logos/OrpheusFlagTop.svg";
const carabiner_orpheus = "/images/CarabinerOrpheus.webp";
---

<!--Container for hero banner -->
<div
  class="flex items-center justify-center w-full bg-[url(/ui/HeroBackground.webp)] bg-bottom bg-cover h-[80vh] md:h-[55vh] md:bg-cover"
>
  <!--Fusering Logo -->
  <img src={fusering_logo} class="w-md p-[2rem]" />

  <!--Hack Club Logo -->
  <img src={hackclub_logo} class="w-[12rem] absolute top-0 left-0" />

  <!-- Responsive design button, bottom for mobile, top right for medium and greater breakpoints -->
  <a
    href="/gallery"
    class="w-fit h-fit bg-cadillac-500 absolute m-[2rem] pl-[2rem] pr-[2rem] pt-[0.5rem] pb-[0.5rem] rounded-4xl bottom-[15rem] md:top-0 md:right-0 text-cadillac-50 font-phantom_sans text-xl font-bold hover:shadow-2xl"
    >Gallery</a
  >
</div>

<!-- Fusering orpheus sticker, shown only on large breakpoints-->
<img
  src={carabiner_orpheus}
  class="absolute w-[12rem] md:bottom-[35rem] lg:bottom-[20rem] lg:right-0 lg:m-[2rem] invisible lg:visible"
/>
