<div
  class="z-2 h-fit lg:h-[60vh] flex-col md:flex-row flex items-center justify-center shadow-lg"
>
  <div
    class="lg:h-[50vh] w-screen lg:w-[65vw] flex items-center justify-center flex-col rounded-4xl p-[2rem] md:m-[0rem] bg-[url(/backgrounds/pumpkin_background.png)] shadow-xl border-pumpkin-outline border-15"
  >
    <div>
      <h1>Design a halloween-themed keyring, get limited-edition stickers!</h1>

      <p>
        For a limited time only, create a spooky keyring, and we'll send you
        some never before seen orpheus stickers along with your keyring!
      </p>
      <p>
        We'll also pick a spookiest keyring, with handmade fudge from near Hack
        Club HQ, along with an orpheus halloween patch for the winner!
      </p>
      <div></div>
    </div>
  </div>
</div>
