---
const { step, text } = Astro.props;
let step_path = "";

switch (step) {
  case "step1":
    step_path = "/icons/Step1Icon.svg";
    break;
  case "step2":
    step_path = "/icons/Step2Icon.svg";
    break;
  case "step3":
    step_path = "/icons/Step3Icon.svg";
    break;
  case "step4":
    step_path = "/icons/Step4Icon.svg";
    break;
  case "step5":
    step_path = "/icons/Step5Icon.svg";
    break;
  case "step6":
    step_path = "/icons/Step6Icon.svg";
    break;

  default:
    break;
}
---

<div
  class="flex flex-row w-full lg:h-auto items-center justify-center relative lg:mb-[8rem] mb-[4rem]"
>
  <img src={step_path} class="h-[3rem] lg:absolute lg:top-0 lg:left-0" />
  <p
    class="lg:absolute lg:top-0 font-phantom_sans text-2xl text-cadillac-50 pl-[1rem] max-w-[90vw] lg:max-w-[30vw]"
  >
    {text}
  </p>
</div>
