---
const { step, text } = Astro.props; // read specific props
let step_path = "";
let image_path = "";

// Select icon/image based on passed prop
switch (step) {
  case "step1":
    step_path = "/icons/Step1Icon.svg";
    image_path = "/images/step1-image.png";
    break;
  case "step2":
    step_path = "/icons/Step2Icon.svg";
    image_path = "/images/step2-image.png";
    break;
  case "step3":
    step_path = "/icons/Step3Icon.svg";
    image_path = "/images/step3-image.png";
    break;
  case "step4":
    step_path = "/icons/Step4Icon.svg";
    image_path = "/images/step4-image.png";
    break;
  default:
    break;
}
---

<div class="flex flex-col relative z-1">
  <img src={image_path} class="z-2" />

  <div
    class="flex flex-row z-3 absolute top-0 left-0 bg-horizon-500 h-[3.5rem] items-center justify-center pl-[1rem] pr-[1rem] pt-[0.5rem] pb-[0.5rem] rounded-xl lg:rounded-3xl shadow-xl"
  >
    <img src={step_path} class="h-full pr-[1rem]" />
    <p
      class="font-phantom_sans font-medium text-md lg:text-lg text-cadillac-50"
    >
      {text}
    </p>
  </div>
</div>
